@import "../node_modules/nes.css/css/nes.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    height: 100%;
    body {
        font-family: 'Press Start 2P', cursive !important;
        height: 100%;
        #root {
            height: 100%;
            padding: 0 2rem;
            margin: 0 2rem;
            .row {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem 0;
                .nes-field{
                    margin: 1rem;
                }
            }
        }
    }
}